<!DOCTYPE html>
<html>
    <head>
        <title>Code Editor</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/styles/yamechat.css" />
    </head>

    <body>
        <div id="editor-content-box">
            <div id="lecture-window" class="editor-window">
                <div id="lecture-content" class="editor-content"></div>
            </div>
            <div id="code-window" class="editor-window">
                <div id="interfaces">
                    <button id="runit" class="small-btn">실행</button>
                    <button id="send" class="small-btn">제출</button>
                </div>
                <textarea id="editor" class="text-box">{{file_name}}</textarea>
                <label id="printed" class="result-label">dd</label>
            </div>
            <!--야매챗 서비스 HTML-->
            <div id="yamechat-window">
                <div id="chat-window">
                    <div id="chat-cont"></div>
                    <div id="chat-send">
                        <input type="text" id="chat-send-input" placeholder="내용을 입력해 주세요">
                        <input type="button" id="chat-send-button" value="보내기">
                    </div>
                </div>
            </div>
            <!--야매챗 끝-->
        </div>
        <script src="/scripts/lec-editor.js"></script>
        <script src="/scripts/yamechat.js"></script>
    </body>
</html>