<!DOCTYPE HTML>
<html>
    <head>

    </head>
    <body>
        <span style="font-size: 35px">{{user_name}}</span>
        <button style="width: 100px; height: 28px; border: 2px solid black; background-color:bisque">승인</button>
        <div style="margin: 40px; border: 2px solid black; height: calc(100vh - 145px); width: calc(100vw - 100px); display: block; padding: 8px">
            <span style="white-space: pre; font-family: 'Courier New', Courier, monospace; font-size: 17px;">{{user_code}}</span>
        </div>
    </body>
</html>
