<!DOCTYPE html>
    <head>
        <title>필요없음</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/styles/yamechat.css" />
    </head>
    <body>
        <div id="chat-window">
            <div id="chat-cont"></div>
            <div id="chat-send">
                <input type="text" id="chat-send-input" placeholder="내용을 입력해 주세요">
                <input type="button" id="chat-send-button" value="보내기">
            </div>
        </div>
        <script src="/scripts/yamechat.js"></script>
    </body>
</html>
